@value makerWhite from '../../common/color.css';

.maker {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 80rem;
    height: 100%;
    margin: 0 2em;
    background-color: makerWhite;
}

.container {
    display: flex;
    flex: 1;
    padding: .3em;
    min-height: 0;
}

@media (max-width: 768px) {
    .inner {
        display: block;
    }
}